.token.comment {
    color: #608b4e;
}

.token.class-name {
    color: #4bc9b0;
}

.token.number {
    color: #b5cea8;
}

.token.regex {
    color: #d16969;
}

.token.tag {
    color: #569cd6;
}

.token.selector {
    color: #d7ba7d;
}

.token.inserted {
    color: #b5cea8;
}

.token.deleted {
    color: #ce9178;
}

.token.punctuation {
    color: #808080;
}

.token.string,
.language-css .token.string,
.style .token.string,
.token.attr-value {
    color: #ce9178;
}

.token.attr-name,
.token.char,
.token.builtin,
.token.property,
.token.variable,
.token.token.atrule,
.token.important {
    color: #9cdcfe;
}

.token.keyword,
.token.boolean,
.token.constant,
.token.symbol {
    color: #569cd6;
}

.token.operator,
.token.entity {
    color: #d4d4d4;
}

.token.prolog,
.token.doctype,
.token.cdata {
    color: #608b4e;
}

.token.url {
    color: #a67f59;
}

.token.function {
    color: #dcdcaa;
}

pre,
pre code {
    background-color: #1e1e1e;
}

.code-container {
    background-color: #1E1E1E;
    overflow: auto;
    margin: 8px 0;
    padding: 2px 12px ;
}

.code-container code {
    color: #e1e1e1;
}