<div id="mySidenav" class="sidenav">
    <h1 class="header">DS Visualizer</h1>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a routerLinkActive="active" 
       routerLink="/stack">Stack</a>
      <a href="#">Queue</a>
      <a href="#">Linkedlist</a>
      <a href="#">Trees</a>
    </div>
    
  
<span class="open-sidenav" onclick="openNav()">&#9776;visualize</span> 
  
<!-- 
  <mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">visualize</button></p>
      <mat-nav-list class="navigation-list">
        <a class="navigation-item" mat-list-item routerLink="/route1" routerLinkActive="active">
          <mat-icon class="material-icons">create</mat-icon><span class="navigation-item-label">Stack</span>
        </a>
        <mat-divider class="navigation-divider"></mat-divider>
        <a class="navigation-item" mat-list-item routerLink="/route2" routerLinkActive="active">
          <mat-icon class="material-icons">how_to_reg</mat-icon><span class="navigation-item-label">My second link</span>
        </a>
        <a class="navigation-item" mat-list-item routerLink="/route3" routerLinkActive="active">
          <mat-icon class="material-icons">add_comment</mat-icon><span class="navigation-item-label">My third link</span>
        </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu_open</mat-icon>
    </button></p>
    <p>Closed due to: {{reason}}</p>
  </mat-sidenav-content>
</mat-sidenav-container> -->
    